@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

:root {
  --bg-clr: #102432;
  --bg-light-color: #152f40;
  --text-clr: #ffffff;
  --accent-clr: #ffda17;
  --first-color: #ffda17;
  --first-color-light: #152f40;
  --body-color: #102432;

  /*========== Font and typography ==========*/
  --body-font: "Quicksand", sans-serif;
  --normal-font-size: 1rem;
}

/* reset default styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--bg-clr);
  color: var(--text-clr);
  font-size: 100%;
  font-weight: 400;
  font-family: Poppins;
}

a,
a:focus,
a:target {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  opacity: 0.7;
}

header {
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 1em;
  position: relative;
}

header {
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 1em;
  position: relative;
}

.main-container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}
.toggle {
  cursor: pointer;
}
.toggle svg {
  fill: var(--accent-clr);
  height: 1.5em;
  width: 1.5em;
}

.toggle.close {
  margin: 1em 0;
}

nav {
  width: 100%;
  max-width: 80vw;
  position: fixed;
  background: var(--bg-light-color);
  top: 0;
  right: -80vw;
  bottom: 0;
  height: 100%;
  padding: 1em;
  transition: all 0.35s ease-in-out;
  z-index: 10;
}

.site-nav li a {
  padding: 0.5em 0;
  display: block;
}

.hero-section {
  min-height: calc(100vh - 10em);
  padding: 3em 0;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-container {
  max-width: 650px;
}

.hero-top-section {
  font-size: 1.5em;
}
.hero-top-section span {
  color: var(--accent-clr);
}
.hero-title {
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
}
.hero-subtitle {
  font-size: 2em;
  opacity: 0.7;
}

/* cta */
.custom-cta {
  padding: 6px;
  height: 40px;
  background: var(--bg-light-color);
  display: inline-flex;
  align-items: center;
  border-radius: 40px;
}
.custom-cta svg {
  fill: var(--text-clr);
  margin: 0;
  width: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
}

.custom-cta span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-clr);
  background-image: linear-gradient(
    135deg,
    #ffff77 0,
    #fff14e 25%,
    #f8d110 50%,
    #deb100 75%,
    #c79500 100%
  );
  padding: 0 1.5em;
  font-size: 13px;
  height: 28px;
  border-radius: 28px;
}

.custom-cta:hover svg {
  width: 1em;
  height: 1em;
  margin: 6em 0.8em;
}

/* JavaScript */
.nav-open {
  right: 0;
}
